[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
open3d = "*"
pyrealsense2 = "*"
opencv-python = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.7"
